# PostgreSQL Database URL
# Vercel Postgres veya Neon.tech kullanabilirsiniz
DATABASE_URL="postgresql://user:password@host:port/database?schema=public"

# Admin Panel Password
ADMIN_PASSWORD="admin123"
